<nb-layout>
    <nb-layout-header>
        <div class="header-container">
            <div class="logo-container">
                <a type="button" (click)="toggleSidebar()" class="sidebar-toggle">
                    <nb-icon icon="menu-2-outline"></nb-icon>
                </a>
            </div>
        </div>
        <div class="header-container ml-auto mr-2">
            <img src="../assets/images/SUS.png" class="ml-3" alt="" style="width: 150px; height: auto;">
        </div>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-menu [items]="menu" autoCollapse="true"></nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
        <footer>
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12">
                            <h3 class="text-muted bold-text mb-md-0 mb-5">APS-SUS</h3>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-8 col-12">
                            <h6 class="text-muted bold-text mb-md-0 mt-3">CONTATO:</h6>
                            <div>
                                <li class="mt-1">email@email.com.br</li>
                                <li class="mt-1">(11) 99999-9999</li>
                                <li class="mt-1">R. Sena Madureira, 1500 - Vila Clementino, São Paulo - SP</li>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">

                            <a href="" class="mr-2"><img src="../../assets/images/SES-SP.png" style="width: 70px; height: 70px;" alt=""></a>
                            <a href="" class="mr-2"><img src="../../assets/images/FAPESP.png" style="width: 70px; height: 70px;" alt=""></a>
                            <a href="" class="mr-2"><img src="../../assets/images/chronide.jpg" style="width: 70px; height: 70px;" alt=""></a>
                            <a href=""><img src="../../assets/images/COSEMS.png" style="width: 70px; height: 70px;" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </nb-layout-column>

</nb-layout>