<div class="row">
    <div class="col">
        <nb-select placeholder="Escolhe a doença desejada" [(ngModel)]="selectedDisease" (selectedChange)="GetRecomendations(); SetDiseaseName()">
            <nb-option *ngFor='let disease of diseases' value={{disease.id}}>
                {{disease.name}}
            </nb-option>
        </nb-select>
    </div>
    <div class="col text-right mr-2">
        <a type="button" (click)="SetDialogItem(null); open(dialog)">
            <nb-icon icon="plus-outline"></nb-icon>
        </a>
    </div>
</div>

<div *ngIf="recomendationMap != undefined">
    <div class="row mt-3" *ngFor="let category of recomendationMap | keyvalue">
        <div class="col-12">
            <nb-accordion #accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>{{category.key}}</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <nb-list>
                            <nb-list-item *ngFor="let subcategory of category.value | keyvalue">
                                <a type="button" (click)="SetRecomendationDialog(subcategory.value); openWindow(dialogRecomendations, subcategory.key);">{{ subcategory.key }}</a>
                            </nb-list-item>
                        </nb-list>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </div>
    </div>
</div>


<ng-template #dialogRecomendations let-ref="dialogRecomendations">
    <div class="dialog-width">
        <nb-card-body>
            <nb-card *ngFor="let recomendation of recomendations">
                <nb-card-header>
                    <div class="row">
                        <div class="col">
                            <h6>{{recomendation.title}}</h6>
                        </div>
                        <div class="col text-right">
                            <a type="button" (click)="this.selectedRecomendation = recomendation.id; GetComments(recomendation.id); openWindow(commentDialog, 'Comentários')" class="mr-2">
                                <nb-icon icon="message-circle-outline"></nb-icon>
                            </a>
                            <a type="button" (click)="SetDialogItem(recomendation); open(dialog)" class="mr-2">
                                <nb-icon icon="edit-outline"></nb-icon>
                            </a>
                            <a type="button" (click)="DeleteRecomendation(recomendation)">
                                <nb-icon icon="close-circle-outline"></nb-icon>
                            </a>
                        </div>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <div class="row ml-1">
                        <h6>Recomendação:</h6>
                    </div>
                    <div class="row ml-1 mt-2">
                        <p>{{recomendation.value}}</p>
                    </div>
                    <div *ngIf="recomendation.image.data.length > 0">
                        <div class="row ml-1 mt-3">
                            <h6>Fluxo:</h6>
                        </div>
                        <div class="row ml-1 mt-3">
                            <a target="_blank" style="margin: auto;" [href]="getImageUrl(recomendation)"><img [src]="getImageUrl(recomendation)" alt="" style="width: 300px; height: 300px;"></a>
                        </div>
                    </div>
                    <div *ngIf="recomendation.sources?.length > 0">
                        <div class="row ml-1 mt-3 mb-2">
                            <h6>Fontes:</h6>
                            <div class="ml-2 mt-1">
                                <a type="button" (click)="this.selectedRecomendation = recomendation.id; open(sourceDialog);">
                                    <nb-icon icon="plus-circle-outline"></nb-icon>
                                </a>
                            </div>
                        </div>
                        <div class="row ml-1 mt-1" *ngFor="let source of recomendation.sources">
                            <a class="mr-2" target="_blank" [href]="source.value">{{source.value}}</a>
                            <a type="button" (click)="DeleteSource(source.id)">
                                <nb-icon icon="close-circle-outline"></nb-icon>
                            </a>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </nb-card-body>
    </div>
</ng-template>

<ng-template #sourceDialog let-ref="dialogRef">
    <div class="row justify-content-center dialog-width">
        <div class="col-md-9 col-9">
            <nb-card>
                <nb-card-header>
                    <h6>Adicionar nova fonte</h6>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <input type="text" nbInput fullWidth shape="round" [(ngModel)]="sourceItem.value" placeholder="Digite a fonte" class="mb-3">
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button nbButton outline size="medium" shape="round" status="basic" (click)="ref.close(); this.sourceItem.value = ''" class="mr-2">Cancelar</button>
                            <button nbButton outline size="medium" shape="round" status="info" (click)="SubmitSource(); ref.close();">Concluir</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</ng-template>

<ng-template #dialog let-ref="dialogRef">
    <div class="row justify-content-center">
        <div class="col-md-9 col-9">
            <nb-card>
                <nb-card-header>{{title}}</nb-card-header>
                <nb-card-body>
                    <div class="mb-3">

                        <input type="text" *ngIf="accordionType == 'edit'" nbInput fullWidth shape="round" [(ngModel)]="selectedDiseaseName" disabled>

                        <nb-select fullWidth shape="round" *ngIf="accordionType == 'create'" [(ngModel)]="dialogItem.id_disease">
                            <nb-option *ngFor='let disease of diseases' value={{disease.id}}>
                                {{disease.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="btn btn-primary mr-3">Atualizar Imagem<input type="file" style="display: none;" (change)="onSelectImage($event)"></label>
                            <label class="btn btn-danger" (click)="removeImage()">Remover Imagem</label>
                        </div>
                    </div>
                    <input type="number" nbInput fullWidth shape="round" [(ngModel)]="dialogItem.sequence" placeholder="Digite a ordem da recomendação" class="mb-3">
                    <input type="text" nbInput fullWidth shape="round" [(ngModel)]="dialogItem.category" placeholder="Digite a categoria" class="mb-3">
                    <input type="text" nbInput fullWidth shape="round" [(ngModel)]="dialogItem.subcategory" placeholder="Digite a subcategoria" class="mb-3">
                    <input type="text" nbInput fullWidth shape="round" [(ngModel)]="dialogItem.title" placeholder="Digite o titulo da recomendação" class="mb-3">
                    <textarea type="text" nbInput fullWidth shape="round" [(ngModel)]="dialogItem.value" placeholder="Escreva sobre a recomendação" class="mb-3"></textarea>

                </nb-card-body>
                <nb-card-footer>
                    <div class="text-right">
                        <button nbButton outline size="medium" shape="round" status="basic" (click)="ref.close()" class="mr-2">Cancelar</button>
                        <button nbButton outline size="medium" shape="round" status="info" (click)="SubmitRecomendation(); ref.close();">Concluir</button>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</ng-template>

<ng-template #commentDialog let-ref="dialogRef">
    <div class="dialog-width">
        <nb-card-body>
            <div *ngFor="let comment of comments">
                <nb-card>
                    <nb-card-header>
                        <div class="row">
                            <div class="col">
                                {{comment.user}}
                            </div>
                            <div class="col text-right">
                                <a type="button" (click)="DeleteComment(comment.id)">
                                    <nb-icon icon="close-circle-outline"></nb-icon>
                                </a>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        {{comment.value}}
                    </nb-card-body>
                </nb-card>
            </div>
            <nb-form-field>
                <textarea rows="3" type="text" nbInput fullWidth shape="round" [(ngModel)]="comment.value" placeholder="Escreva seu comentario"></textarea>
                <button nbSuffix nbButton ghost (click)="SendComment()"><nb-icon icon="arrow-forward-outline"></nb-icon></button>
            </nb-form-field>
        </nb-card-body>
    </div>
</ng-template>
