<div style="background-color: #2a2a2a;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">Bem vindo!</span>
                    <div>


                        <div *ngIf="!isRegisterPage">
                            <div class="form-group">
                                <label for="cpfInput">Login</label>
                                <input type="email" class="form-control" id="cpfInput" placeholder="Digite seu e-mail" (keydown.enter)="onSubmit()" [(ngModel)]="user.email">
                            </div>
                            <div class="form-group">
                                <label for="pinInput">PIN de acesso</label>
                                <input type="password" class="form-control" id="pinInput" placeholder="Digite o PIN de acesso" aria-describedby="loginhelp" (keydown.enter)="onSubmit()" [(ngModel)]="user.password">
                                <small *ngIf="authService.isInError" id="loginhelp" class="form-text text-danger">Verifique o usuário senha e tente novamente.</small>
                            </div>
                        </div>

                        <div *ngIf="isRegisterPage">
                            <div class="form-group">
                                <label for="emailInput">Email</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Digite seu email de contato" aria-describedby="emailHelp" (keydown.enter)="onSubmit()" [(ngModel)]="user.email">
                                <small *ngIf="user.email == null" id="emailHelp" class="form-text text-danger">Campo obrigatório</small>
                            </div>

                            <div class="form-group">
                                <label for="nameInput">Nome Completo</label>
                                <input type="text" class="form-control" id="nameInput" placeholder="Digite seu nome completo" aria-describedby="nameHelp" (keydown.enter)="onSubmit()" [(ngModel)]="user.name">
                                <small *ngIf="user.name == null" id="nameHelp" class="form-text text-danger">Campo obrigatório</small>

                            </div>
                            <div class="form-group">
                                <label for="pinInput">PIN de Acesso</label>
                                <input type="password" class="form-control" id="pinInput" placeholder="Digite o PIN de Acesso" aria-describedby="pinHelp" (keydown.enter)="onSubmit()" [(ngModel)]="user.password">
                                <small *ngIf="user.password == null || user.password.length < 6" id="pinHelp" class="form-text text-danger">Deve ser uma sequência de seis números.</small>
                            </div>
                        </div>

                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div class="txt1" *ngIf="!isRegisterPage"> Não é registrado?
                                <button (click)="registerBlock()" class="txt1">Cadastre-se</button>
                            </div>
                            <div class="txt1" *ngIf="isRegisterPage"> Já está cadastrado?
                                <button (click)="registerBlock()" class="txt1">Faça o login</button>
                            </div>
                        </div>


                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" (click)="onSubmit()">
                        <div *ngIf="!isRegisterPage">Login</div>
                        <div *ngIf="isRegisterPage">Registrar</div>
                      </button>
                        </div>

                        <div class="row" style="margin-top: 230px;">
                            <img src="../../../assets/images/FAPESP.png" alt="" class="ml-auto" style="width: 150px; max-height: 100px;">
                            <img src="../../../assets/images/UNASUS.png" alt="" class="ml-4 mr-auto" style="width: 150px; max-height: 100px;">
                        </div>
                    </div>
                </div>
                <div class="login100-more" style="background-image: url('../../../assets/images/hospital.jpg');"></div>
            </div>
        </div>
    </div>

</div>
