<div class="row">
    <div class="col">
        <nb-select placeholder="Escolhe a doença desejada" [(ngModel)]="selectedDisease">
            <nb-option *ngFor='let disease of diseases' value={{disease.id}}>
                {{disease.name}}
            </nb-option>
        </nb-select>
        <a class="ml-3" href="../../../assets/files/exemplo_recomendacoes.xlsx">Faça o download da planilha exemplo aqui.</a>
    </div>
</div>

<div class="row mt-3">
    <label class="btn btn-primary ml-3">Importar arquivo<input type="file" style="display: none;" (change)="onFileChange($event)" accept=".xlsx"></label>
    <div class="col">
    </div>
</div>
